body {
    background-image: url("https://image.shutterstock.com/image-photo/beautiful-abstract-grunge-decorative-navy-260nw-539880832.jpg");
    background-size: cover;
    text-align: center;
    background-color: rgb(178, 206, 18);
}

h1 {
    font-family: Monoton;
    color: rgb(53, 185, 97);
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
    background-color: white;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    height: 20px;
}

input[type=number] {
    width: 6em;
}
